body
{
    font-family:Verdana, sans-serif;
    font-size:12px;
    text-align:left;
}

.configured_content
{
    display:none;
}
.configured .configured_content
{
    display:block;
}
.to_configure
{
    display:block;
}
.configured .to_configure
{
    display:none;
}

table, tr, th, td
{
    text-transform:uppercase;
    font-size:inherit;
    border:1px solid #b0b0b0;
    border-collapse:collapse;
}
th, td
{
    padding:3px 5px;
    white-space:nowrap;
}
th{
    background:#f0f0f0;
}

.last_upate
{
    padding:0px 10px 10px 0px;
    line-height:20px;
}
.update
{
    display:inline-block;
    vertical-align:middle;
    width:15px;
    height:15px;
    border:none;
    background:url(icons/update.png) center center no-repeat;
    background-size:100%;
    cursor:pointer;
}
.update:hover,
.update:focus
{
    opacity:0.8;
}

.update.working
{
    pointer-events:none;
    opacity:0.5;
    animation: rotating 2s linear infinite;
}
@keyframes rotating 
{
    from
    {
        transform:rotate(360deg);
    }
    to
    {
        transform:rotate(0deg);
    }
}
.total
{
    text-align:right;
}
.positive
{
    background:#e3faee;
}
.negative
{
    background:#ff9b9b;
}

